* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --w1: #F9F7EA;
  --w2: #F2F1DF;
  --p1: #F2AED4;
  --p2: #F291D0;
  --p3: #F25EBF;
  --y1: #D9CF41;
}

@font-face {
  font-family: 'groovy';
  src: local('groovy'),
    url('./assets/fonts/Groovy/groovy.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins';
  src: local('poppins'),
    url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

html, body {
  background-color: var(--w1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'groovy', 'Pacifico', cursive;
}

body {
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}